@model CreateProduct

@{
    ViewBag.Title = "Создание товара";
    Layout = "_Layout";
}

 <h2>Запоните поля для добавления новой позиции</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label for="prod_name" class="mb-2">Наименование продукта</label>
                <input asp-for="Product.ProductName"
                       type="text"
                       class="form-control"
                       id="prod_name"
                       placeholder="Телефон">
            </div>
            <div class="form-group mb-3">
                <select asp-for="Product.BrandId" class="form-select">
                    @if (!Model.Brands.Any())
                    {
                        <option selected>Бренды еще не созданы</option>
                    }
                    else
                    {
                        <option selected>Выберите бренд</option>
                        foreach (var brand in Model.Brands)
                        {
                            <option value="@brand.Id">@brand.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <select asp-for="Product.CategoryId" class="form-select">
                    @if (!Model.Categories.Any())
                    {
                        <option selected>Категории еще не созданы</option>
                    }
                    else
                    {
                        <option selected>Выберите категорию</option>
                        foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                            <label for="model" class="mb-2">Модель</label>
                            <input  asp-for="Product.Model"
                                   type="text"
                                   class="form-control"
                                   id="model"
                                   placeholder="IPhone 14 Pro">
                        </div>
            <div class="form-group mb-3">
                <label for="description" class="mb-2">Описание</label>
                <textarea  asp-for="Product.Description"
                       type="text"
                       class="form-control"
                       id="description"
                       placeholder="Отличная штука, умеет много, стоит не дорого">
                </textarea>
            </div>
            <div class="form-group mb-3">
                <label for="price" class="mb-2">Цена</label>
                <input asp-for="Product.Price"
                       type="text"
                       class="form-control"
                       id="price"
                       placeholder="10000000000000$">
            </div>
            <div class="form-group mb-3">
                <label class="mb-2" for="inputGroupFile01">Картинка</label>
                <input type="file" class="form-control" id="inputGroupFile01" name="uploadedFile">
            </div>
            <button type="submit" class="btn btn-outline-info mt-3">Создать</button>
        </form>
    </div>
    <div class="mt-5">
    @{
        if (Model.ErrorViewModel.Errors.Any())
           {
               foreach (var error in Model.ErrorViewModel.Errors)
               {
                    <p class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                        @error.ErrorMessage
                    </p>
               }
           }
    }
    </div>
</div>